<meta charset="UTF-8">
<div class="row clearfix panel-search " ng-controller="userSearch" ng-init="getRoleList();">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		
	          <select id="rolelist"  ng-model="searchForm.roleId" class="selectpicker show-tick form-control" data-live-search="false" placeholder="选择网元类型" >
                		<option>BTS</option>
                        <option>BTS</option>
                        <option>BTS</option>
	            </select>  
	        </div>
	
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 align-left"><input type="search" class="form-control" placeholder="请输入要查询的类型..."></div>
		        	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><span class="btn-group"><button type="button" class="btn btn-primary waves-effect">搜索</button></span></div>
	</div>
	
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 align-right">
		<button type="button" class="btn btn-primary waves-effect"><a href="formTemplateCreat.html">新增模板</a></button>
	</div>
	<!-- / .col-md-4 -->
</div>
	